@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border : 0;
    outline : 0;
    box-sizing: border-box;
    /*list-style: none;*/
    text-decoration: none;
}


:root {
--color-bg : #346796;
--color-bg-varient: #BDD8F2;
--color-primary : #5A8DBC;
--color-secondary : #305170;
--color-light : #87accf;
--color-dark : #263849;
--color-white : white;
--color-black : black;
--color-bg-1 :  #136a8a;
--color-bg-2 : #EC6EAD;;
--color-bg-3 :  #0f82e6;
--color-bg-4 : #91EAE4;

--section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );



/* #dd3e54

#6be585 

--color-bg-1 :  #3494E6;
--color-bg-2 : #EC6EAD;
*/

/*
--color-bg-4 : #ef2188;
*/

/*
--color-bg-1 :  #4e54c8;
--color-bg-2 : #8f94fb;
#136a8a
#267871
*/

--transition : all 400ms ease;

--container-width-lg: 75%;
--container-width-md: 86%;
--containter-width-sm: 95%;

--image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.3),
    rgba(12, 10, 22, 0.5)
  );



}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins';
    /*background: var(--color-bg);*/
    /* background: linear-gradient(var(--color-bg), var(--color-bg-varient)); */
    /* background: linear-gradient(var(--color-bg-1), var(--color-bg-2)); */
    /* background: var(--color-bg-1); */
    background-attachment: fixed;
    color: var(--color-white);
    line-height: 1.5;

    position: relative;
    z-index: -1;
    background-image: var(--image-gradient), url(./assets/home-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;

    /* background-color: #0c0513;
    background-image: url(./assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center; */
   
   /*
        --s: 200px; // control the size
        --c: #fff; //first color 
        
        --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
        background: 
          linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
          linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
          linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
          linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
          #1095c1; 
        background-size: var(--s) var(--s); 
        */
    
    

        /* background:
            radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
            radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
            linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
            linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
        background-size: 40px 60px;
     */
}

/* general styles*/

.container{
    width: var(--container-width-lg);
    margin : 0 auto 4rem auto; 
}


h1,h2,h3,h4,h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

section {
    margin-top: 8rem;
    /* height : 100vh; */

}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-white);
}

section > h2 {
    color : var(--color-bg-2);
    margin-bottom: 2rem;
}

.text-dark {
    color: var(--color-dark);
}

.text-light {
    color: var(--color-light);
}

a { 
    color: var(--color-black);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
}

.btn {
    width:max-content;
    display: inline-block;
    color: var(--color-white);
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    /* border: 1px solid var(--color-white); */
    transition: var(--transition);
    margin: 0.2rem;
    background-color: purple;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-white);
    color: var(--color-black);
}

.btn-primary:hover {
    background: purple;
    color: var(--color-white);
}


.btn-secondary {
    background: var(--color-bg-1 );
    color: var(--color-white);
}



img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta {
    display: inline-block
}

.pp {
    
        border-radius: 50%;
}



/* medi queries (MEDIUM WIDTH)*/

@media screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
        display: flex;
        flex-direction: column;
       
        
    }
    section {
        margin-top: 6rem;
    }

}


@media screen and (max-width: 600px){
    .container {
        width: var(--container-width-sm);
    }
    section > h2 {
        margin-bottom: 2rem;
    }

}


